<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}" >
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <meta charset="UTF-8">


    <title th:utext="#{app.title}"></title>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar">...</div>
    <div class="container-fluid">
        <div class="row full-height">
            <div class="col-md-auto hero-container">
                <section class="hero">
                    <div class="card">
                        <h4 class="card-img-top" th:utext="#{app.booknow}">Book now</h4>
                        <div class="card-body">
                            <form method="post" th:object="${filter}" th:action="@{/filter}">
                                <div class="form-group">
                                    <label th:utext="#{app.label.checkin}"></label>
                                    <div class="input-group date" data-provide="datepicker" id="arrival-datepicker">
                                        <input type="text" class="form-control" autocomplete="off" th:field="*{arrivalDate}" onkeydown="return false" required/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label th:utext="#{app.label.checkout}"></label>

                                    <div class="input-group date" data-provide="datepicker" data-date-week-start="1" id="departure-datepicker">
                                        <input type="text" class="form-control" autocomplete="off" th:field="*{departureDate}" onkeydown="return false"  required/>

                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label th:utext="#{app.label.persons}"></label>
                                    <input id="guest-input" type="number" class="form-control number-control" min="1" max="100" th:attr="title=#{filters.guests.error}" th:field="*{guests}" required>
                                </div>
                                <button id="book-button" class="btn btn-primary" type="submit" th:utext="#{app.label.showrooms}"></button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md order-first order-md-last title-container">
                <h1 class="page-title" th:utext="#{app.title}"></h1>
                <div class="horizontal-rule"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.min.js}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" th:src="@{/js/locales/bootstrap-datepicker.zh-TW.js}" charset="UTF-8"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        const locale = /*[[${#locale}]]*/ 'default';

        $('.input-group.date').datepicker({
            format: 'dd/mm/yyyy',
            weekStart: 1,
            autoclose: true,
            language: locale === 'en' ? 'en' : 'zh-TW',
            startDate: Date.now().toString(),
            endDate: moment(Date.now()).add(1, "years").toDate()
        });

        $('#arrival-datepicker').on('changeDate', function() {
            let pickedDate = moment($('#arrival-datepicker').datepicker('getFormattedDate'), "DD/MM/YYYY");
            $('#departure-datepicker').datepicker('setStartDate', pickedDate.add(1, "days").toDate());
        });

        $('#book-button').on("click",function(){
            var inpObj = document.getElementById("guest-input");
            inpObj.setCustomValidity('');
            if (inpObj.checkValidity() === false) {
                inpObj.setCustomValidity($('#guest-input').attr('title'));
            }
        })

        /*]]>*/
    </script>
</body>
</html>
